<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>ping</servlet-name>
        <servlet-class>org.openblend.pot.PingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ping</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <distributable />
</web-app>

